@import url('https://fonts.googleapis.com/css?family=Rubik+Iso:regular,bold,italic&subset=latin,latin-ext');

.Navbar{
    background-color: rgb(8, 5, 174);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
    min-width: 370px;
    padding: 5px;
    margin-top: 0px;
    overflow: hidden;
}

/* Title section */
.navTitle{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 2px;
    cursor: pointer;
}

.mainTitle{
    font-size: 1.6rem;
    font-family: 'Rubik Iso',Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    padding-left: 5px;
    margin: 0;
    word-break: keep-all;
    color: rgb(255, 255, 255);
    overflow: hidden;
}


.menuTrey{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.OptionIcon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    color: white;
    cursor: pointer;
}